.wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
}

.gray {
    color: #6c757d84;
  }
  
  .blue {
    color: rgb(0 55 193);
  }

  .textgray {
    color: #6c757d84;
  }