.wrapper {
    position: sticky;
    top: 0;
    background: rgb(18 18 18);
    z-index: 1000;
    color: aliceblue;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: .5%;
    width: 100%;
}