.wrapper {
    width: 100%;
    border: 1px solid rgb(57, 57, 57);
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: rgb(41, 41, 41);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    color: white;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.headerLeft {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headerRight {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.headerSectionButton {
    width: 150px;
    height: 35px;
}

.content {
    padding: 1rem;
    background-color: rgb(41, 41, 41);
    color: white
}